<h1 class="headline white-text">Welcome</h1>

<hr>

<p class="flow-text white-text">This is an application that allows users to monitor cryptocurrencies and get basic information and updates in real-time.</p>

<p class="flow-text white-text">The following API's are being used in the application:</p>

<ul>
    <li><a href="https://www.cryptocompare.com/" target="_blank">https://www.cryptocompare.com/</a></li>
    <li><a href="https://coinmarketcap.com/" target="_blank">https://coinmarketcap.com/</a></li>
</ul>