<h1 class="headline white-text center-align">Welcome to Cryptocurrency Dashboard!</h1>

<hr>

<p class="flow-text white-text center-align">This is a application that allows users to monitor cryptocurrencies and get basic information and updates in real-time.</p>

<p class="flow-text white-text center-align">The following API's are used for getting the cryptocurrency data:</p>

<ul class="center-align">
    <li><a href="https://www.cryptocompare.com/" target="_blank">https://www.cryptocompare.com/</a></li>
    <li><a href="https://coinmarketcap.com/" target="_blank">https://coinmarketcap.com/</a></li>
</ul>