.container {
  margin-bottom: 10px;
}

.mat-card {
  background-color: #1b2c40;
}

.red {
  color: #d16262;
}

.green {
  color: #62d19e;
}

.mat-card-header {
  display: block;
}

.mat-card-title {
  font-size: 24px;
}

mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

mat-card {
  text-align: center;
}

mat-card p {
  font-size: 20px;
}

mat-progress-spinner {
  margin: 0 auto;
}

.custom-color::ng-deep circle {
  stroke: #fff;
}

canvas,
#error-message,
mat-progress-spinner {
  margin-top: 50px;
}

@media screen and (max-width: 560px) {
  canvas {
    display: none !important;
  }
}
