<div class="container">
  <div *ngIf="currencyDetails">
    <h1>{{ currencyDetails.name }}</h1>

    <mat-grid-list cols="12" rowHeight="200" gutterSize="10">
      <mat-grid-tile colspan="6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Rank</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-icon>bar_chart</mat-icon>

            <p>#{{ currencyDetails.rank }}</p>

          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Price</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-icon>euro_symbol</mat-icon>

            <p>{{ currencyDetails.quotes.EUR.price }}</p>

          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Change (24h)</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-icon>
              <span *ngIf="currencyDetails.quotes.EUR.percent_change_24h < 0">
                keyboard_arrow_down
              </span>

              <span *ngIf="currencyDetails.quotes.EUR.percent_change_24h > 0">
                keyboard_arrow_up
              </span>
            </mat-icon>

            <p [ngClass]="{'green' : currencyDetails.quotes.EUR.percent_change_24h > 0, 'red' : currencyDetails.quotes.EUR.percent_change_24h < 0}">
              {{ currencyDetails.quotes.EUR.percent_change_24h }}%</p>

          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Market cap</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-icon>pie_chart</mat-icon>

            <p>{{ currencyDetails.quotes.EUR.market_cap }}</p>

          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>


    <div *ngIf="chart">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
  </div>
</div>
