.collection {
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  border: none;
  background-color: #1d354f;
}

.collection a.collection-item {
  border: none;
  background-color: #1d354f;
}

.collection a.collection-item:hover {
  opacity: 0.5;
}
